@using WebApp.Models.ViewModels;

<!-- begin:: Footer -->
<div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
    <div class="kt-container kt-container--fluid ">
        <div class="kt-footer__copyright">2019&nbsp;&copy;&nbsp;Qubits</div>
        <div class="kt-footer__menu">
            @*<a onclick="javascript:location.replace('/equipo')" target="_blank" class="kt-footer__menu-link kt-link">Equipo</a>*@
        </div>
    </div>
</div>
<!-- end:: Footer -->