@using WebApp.Helpers;

@{
    ViewBag.Title = "Stay n'Chill | Hoteles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Views/Hotel2/vHotelIndex.js"></script>
<script src="~/assets/js/demo1/pages/crud/forms/widgets/select2.js"></script>
<script src="~/Scripts/Validation/FormsValidation.js"></script>
<script src="~/Scripts/Validation/messages_es.js"></script>



<!--begin::Portlet-->
<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                Hoteles
            </h3>
        </div>
    </div>
    @* Table *@
    @Html.CtrlTable(
    viewName: "vHotelIndex",
    id: "TBL_HOTELES",
    title: "Hoteles",
    columnsTitle: "Cédula jurídica,Administrador de hotel,Nombre,Correo,Teléfono,Estrellas,Estado,",
    ColumnsDataName: "LegalNumber,BusinessName,Name,HotelEmail,PhoneNumber,Stars,State,Actions",
    onSelectFunction: "", colorHeader: "red", dataId: "Id")
</div>


<!--begin::Portlet-->
<div class="kt-portlet">
    @* Form body *@
    <form class="kt_form_1 kt-form" id="form_1" method="PUT">
        <!--begin::Modal-->
        <div class="modal fade" id="kt_select2_modal" role="dialog" aria-labelledby="" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="">Configuraciones del hotel</h5>

                    </div>
                    <div class="modal-body">
                        <!---Input Rol-->
                        <div class="col-lg-4">
                            @Html.CtrlInput(id: "txtCommission", type: "number", label: "Comisión del hotel", columnDataName: "Commission")
                            @Html.CtrlInputHidden(id: "txtHotel", type: "hidden", label: "", columnDataName: "Hotel")
                        </div>
                    </div>
                        <div class="modal-footer">
                            @Html.CtrlButton(viewName: "vHotelIndex", id: "btnUpdate", label: "Actualizar",
                           onClickFunction: "", buttonType: "btn-primary", type: "sumbit")
                            <button type="button" class="btn btn-brand" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
            </div>
        </div>
        <!--end::Modal-->
    </form>
</div>
